/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/.idea
/.vscode
/.codex
/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*.php
/controllers_dump.txt
/migrations_dump.txt
